html {
  background-color: #dfe3e7;
  min-height: 750px;
  min-width: 300px;
  padding-left: 200px;
  padding-right: 15px;
  width: 70%;  
}   

body {
  background-color: #FFFFFF;
  border: 2px solid White;
  margin-left: auto;
  margin-right: auto;
  min-height: 757px;
  min-width: 300px;
  padding-left: 40px;
  padding-right: 100px;
  width: 70%;  
}

header {
  background-color: #669EDC;
  border-bottom: 1px solid white;
  padding-bottom: 2px;  
  width: 105%;
}

h1 {
  color: #0C2B4D;
  font-size: 40px;
  padding-left:0px;
  padding-right:0px;
  padding-top: 14px;
  text-align: center;
}

a:link {
  background-color: #024188;
  color:#FFFFFF;}    /* unvisited link */

a:visited {
  background-color: #20446C;
  color:#F4AC3D;} /* visited link */
  
a:hover {
  background-color: #224872;
  color:#FF9A00;}   /* mouse over link */

a:active {
  color:#A4CFFF;}  /* selected link */

h7 {
  color: #024188;
}

approve {color: #108C10;
}

rejected {color: #A61212;
}





